Aula1/node_modules/.package-lock.json
Aula1/node_modules/ansi-regex/index.js
Aula1/node_modules/ansi-regex/license
Aula1/node_modules/ansi-regex/package.json
Aula1/node_modules/ansi-regex/readme.md
Aula1/node_modules/prompt-sync/index.js
Aula1/node_modules/prompt-sync/LICENSE
Aula1/node_modules/prompt-sync/package.json
Aula1/node_modules/prompt-sync/README.md
Aula1/node_modules/prompt-sync/test.js
Aula1/node_modules/strip-ansi/index.d.ts
Aula1/node_modules/strip-ansi/index.js
Aula1/node_modules/strip-ansi/license
Aula1/node_modules/strip-ansi/package.json
Aula1/node_modules/strip-ansi/readme.md
